@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Outfit;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Informamos isso pq , se fosse %, o body teria o mesmo valor do html (pai), mas o html não ocupa a tela totalmente */
    transition: 0.5s;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.light{
    color: rgb(31, 31, 31);
    transition: 0.4s;
}
body.dark .light{
    color: rgb(51, 160, 255);
    transition: 0.4s;
}

.dark {
    color: aliceblue;
    transition: 0.4s;
} /* Como a palavra 'dark' já tem a mesma cor do fundo no tema claro, não precisa fazer outra configuração para o outro tema, como foi feito  */

h1{
    color: aliceblue;
    margin-bottom: 20px;
}

.trilho{
    background-color: rgb(74, 74, 74);
    height: 120px;
    width: 240px;
    border-radius: 150px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.indicador{
    background-color: aliceblue;
    height: 120px;
    width: 120px;
    border-radius: 100px;
    transform: scale(.9);
    position: absolute;
    left: 0px;
    transition: 0.5s;
}

.trilho.dark{
    background-color: rgb(196, 227, 255);
    transition: 0.5s;
}

.trilho.dark .indicador{
    left: 120px;
    background-color: rgb(51, 160, 255);
}

body.dark{
    background-color: aliceblue;
}

body.dark h1{
    color: black;
    transition: 0.5s;
}